/* start copy*/


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*end copy*/











body{
	background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/47758hd.jpg);
	margin: auto;
  background-size: cover;
}

h1{
	text-align: center;
	color: black;
}

/* start of copyed */

@media only screen and (max-width: 600px){
	.nav{
		font-size: 0.5em;
		padding: 0;
	}
}

button {
  font-size: 30px;
  background-color: blue;

}

form {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  box-shadow: color: #fff;
}

h1 {
	font-size: 120px;
	font-family: fantasy;
	align-items: center;
	justify-content: center;
}

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* End of copyed */

nav{
	position: fixed; 
	 top: 0;
     width: 100%;
     /*padding-top: 60px;*/
     overflow: hidden;
     margin: right;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  list-style: none;
}

li a:hover {
  background-color: #c9515c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  list-style: none;
}

li {
  float: left;
}

.cool{
	background-color: #ffffff;
	font-color: #ffffff;
	padding: 10px;
}

.active {
  background-color: #4CAF50;
  color: white;
}