body{
  background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/47758hd.jpg);
  margin: auto;
  background-size: cover;
}


h1 {
  font-size: 90px;
  padding-top: 10px;
  text-align: center;
  font-family: fantasy;
}

ol {
  font-family: italic;
  font-size: 40px;
}

li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: ##db7f88;
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  list-style: none;
}

li a:hover {
  background-color: #c9515c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  list-style: none;
}

li {
  float: left;
}

li a:hover {
  background-color: #c9515c;
}

nav{
	position: fixed; 
	 top: 0;
     width: 100%;
     /*padding-top: 60px;*/
     overflow: hidden;
     margin: 0;
}

.active {
  background-color: #4CAF50;
  color: white;
}

h2{
  margin-left: 12px;
  font-family: fantasy;
  font-size: 50px;
   border-bottom-style: solid;
}












